<div class="auth">
  <form  {{on "submit" this.login}}>
    <label class="authTxt" for="username">Username:</label>
    <input id="username" type="text" placeholder="Username" required value={{this.username}} {{on "input" this.updateUsername}} />
    <label class="authTxt" for="password">Password:</label>
    <input id="password" type="password" placeholder="Password" required value={{this.password}} {{on "input" this.updatePassword}} />
    <button class="authBtn" type="submit" disabled={{if this.canLogin false true}}>Login</button>
    <p class="authTxt">Don't have an account? <span role="button" {{on "click" @toggleLogin}}>Sign Up</span></p>
  </form>
</div>